
html {
  font-size: 18px;
}

body {
  margin: 0;
}

/* ABOUTUS INFO*/
.aboutusInfo {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;

    position: relative;
    width: 100vw;
    height: 40vw; 
      
    background-color: #FFFFFF;
   }
   
   .aboutusInfoContainer {
     display: flex;
     flex-flow: column;
     align-items: center;
     width: 90%;
     padding: 8%;
   }
   
   .title {
    display: flex;
    flex-flow: row;
    justify-content: center;

    height: 3.4vw;
    width: 100%;
    margin-bottom: 3vw;

    font-family: 'Roboto';
   }

   #about {
    color: #006D77;
    font-size: 1.4vw;
    margin-right: 1vw;
   }

   #pool {
     color: #E29578;
     font-size: 1.4vw;

   }
   
   .aboutusInfo p {     
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     font-size: 1.5vw;
     width: 50vw;
     line-height: 2.5vw;
     text-align: center;
     margin-top: 25px;
     
     color: #1A5D5F;
   }

   /* CONFIDENTIALITY INFO*/
.confidentialityInfo {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;

  position: relative;
  width: 100vw;
  height: 30vw; 
    
  background-color: #EDF6F9;
 }
 
 .confidentialityInfoContainer {
   display: flex;
   flex-flow: column;
   align-items: right;
   width: 90%;
 }
 

 .confidentialityInfoContainer h1 {
  font-family: 'Roboto';
  color: #006D77;
  font-size: 2.5vw;
 }
 
 .confidentialityInfoContainer p {     
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 1.5vw;
   width: 50vw;
   line-height: 2.5vw;
   text-align: left;
   margin-top: 25px;
   
   color: #006D77;
 }


 /* SUSTAINABIlITY INFO*/
.sustainabilityInfo {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;

  position: relative;
  width: 100vw;
  height: 30vw; 
    
  background-color: #83C5BE;
 }
 
 .sustainabilityInfoContainer {
   display: flex;
   flex-flow: column;
   align-items: end;

   width: 90%;
 }
 
 .sustainabilityInfoContainer h1 {
  font-family: 'Roboto';
  color: #EDF6F9;
  font-size: 2.5vw;
 }
 
 .sustainabilityInfoContainer p {     
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 1.5vw;
   width: 50vw;
   line-height: 2.5vw;
   text-align: right;
   margin-top: 25px;
   
   color: #1A5D5F;
 }
   
 /* GENDER INCLUSIVITY INFO*/
.genderInclusivityInfo {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;

  position: relative;
  width: 100vw;
  height: 30vw; 
    
  background-color: #EDF6F9;
 }
 
 .genderInclusivityInfoContainer {
   display: flex;
   flex-flow: column;
   align-items: right;
   width: 90%;
 }
 

 .genderInclusivityInfoContainer h1 {
  font-family: 'Roboto';
  color: #006D77;
  font-size: 2.5vw;
 }
 
 .genderInclusivityInfoContainer p {     
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 1.5vw;
   width: 50vw;
   line-height: 2.5vw;
   text-align: left;
   margin-top: 25px;
   
   color: #006D77;
 }

   
    
