html {
  font-size: 18px;
}

body {
  margin: 0;
}


/*MAIN FOOTER FLEX*/
.footer { 
    display: flex;
    flex-flow: row;
    justify-content: center;
    justify-content: flex-start;
    justify-content: space-evenly;
 
    width: 100vw;
    position: relative;
    height: 35vw;
  
    background-color: #167D7F;
    background-image: url(../bannerDesign.png);
    background-size: cover;
  }


/*LEFT FOOTER EMPTY PLACEHOLDER
  allows for even spacing of content*/
  .footerEmpty {
    display: flex;
    flex-flow: column;
    justify-content: center;

    opacity: 0;

    font-family: 'Lora';
    font-style: normal;
  }

  /*PFP & SOCIAL MEDIA ICONS*/
  .footerContainer {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  #RULogo {
    width: 14vw;
    height: 14vw;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
  }

  /*LINKS*/
  .footerLinks {
    display: flex;
    flex-flow: column;
    padding: 0vw;
    margin-right: -30px;
    justify-content: center;

    left: 1136px;
    top: 2602px;
  }

  .footerLinks h4 {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 1.2vw;
    line-height: 17px;

    color: #FFFFFF;
    text-decoration-line: underline;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  }

  .footerLinks h4:hover {
    box-shadow: 4px 16px 16px rgba(0, 0, 0, 0.3);
  }

