/* NAVBAR */

html {
  font-size: 18px;
}

#navLink:hover {
  color: #83C5BE;
}

.navbar { 
   display: flex;
   flex-flow: row;
   align-items: center;

   width: 100vw;
   position: relative;
   height: 9vw;

   justify-content: space-between;
   
   background-color: #006D77;
  }

 .navbar img {  
  width: 15%;
  height: 75%;
  padding-left: 7%;
 }

 .navbarLinks {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;

  padding-left: 15%;
 }

 #navLink {
   display: flex;
   flex-flow: column;
   justify-content: space-evenly;
   white-space: nowrap;

   font-family: 'Lora';
   font-style: normal;
   font-size: 1.2vw;
   line-height: 38px;
   text-decoration: none;
   padding-right: 3vw;

   text-align: center;

   color: #EDF6F9;
  }



 
 