
.banner {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 3.5vw;

  background-color: #E29578;
}

.banner p {
  font-family: 'Roboto';
  font-size: 1.5vw;
  letter-spacing: 0.8px;
   
  text-align: center;
  width: 100%;

  color: #FFFFFF;
}


/* OUR MISSION SECTION*/

.ourVision {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
 
  position: relative;
  height: 25.5vw; 
  width: 100%;
  margin-top: 12vw;

  background-color: #FFFFFF;
 }
 
 .ourVisionContainerText {
   display: flex;
   flex-flow: column;
   width: 90%;
   padding: 8%;
   background-color: #FFFFFF;
 }
 
 .ourVision h2 {
   font-family: 'Roboto';
   font-style: normal;
   font-size: 3vw;
   
   text-align: left;
   width: 100%;
   
   color: #006D77;
 }
 
 .ourVision p {
 width: 100%;
 height: 22vw;
 
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 400;
 font-size: 1.4vw;
 line-height: 2.8vw;
 
 color: #006D77;
 }
 
 
 
 /* FURTHER INFO SECTION */
 
 .joinThePoolParty {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
 
  width: 100vw;
  position: relative;
  height: 40vw; 
  background-color: #EDF6F9;

  padding-bottom: 10vw;

 }
 
 .joinThePoolPartyContainer {
   display: flex;
   flex-flow: column;
   width: 90%;
   align-items: center;
    justify-content: space-evenly;
 }
 
 .joinThePoolParty h1 {
   display: flex;
   flex-flow: row;
   text-align: center;
   justify-content: center;
 
   font-family: 'Roboto';
   font-style: normal;
   font-size: 4.2vw;
     
   color: #E29578;
 }

  #infoContainers {
   display: flex;
   flex-flow: row;
   align-items: center;
   width: 95%;
   padding-top: 4vw;
  }

  .joinThePoolParty h2 {
    font-family: 'Roboto';
    font-size: 2vw;  
    align-self: center;
      
    color: #006D77;
  }

  #infoContainerSeperate {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    width: 30%;
    height: 30%;
    padding-left: 3vw;
    padding-right: 3vw;
  }

 
 .joinThePoolParty p {
   display: flex;
   flex-flow: row;
   text-align: center;
   width: 90%;
 
   font-family: 'Roboto';
   font-style: normal;
   font-size: 1.4vw;
   line-height: 2vw;
   
   color: #1A5D5F;
 }

 .joinThePoolParty a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
 
  width: 8vw;
  height: 3.5vw; 
  border-radius: 10px;

  background-color: white;
}

.joinThePoolParty h4 {
  font-size: 1vw;
  font-family: 'Roboto';
  color: #1A5D5F;
}