
.banner {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 3.5vw;

  background-color: #E29578;
}

.banner p {
  font-family: 'Lora';
  font-size: 1.2vw;
  letter-spacing: 0.8px;
   
  text-align: center;
  width: 100%;
  text-decoration: none;

  color: #006D77;
}


/* APPLICATION INFO*/

.applyInfo {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;

  position: relative;
  height: 40vw; 
  width: 100vw;

  padding-top: 7vw;
  background-color: #FFFFFF;
}

.applyInfoContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 15vw;
  width: 40vw;
 }

.applyInfo h1 {
 font-family: 'Lora';
 font-style: normal;
 font-size: 3vw;
 
 text-align: center;
 margin-top: -10vw;

 color: #E29578;
}

.applyInfo p {
 display: flex;
 flex-flow: row;
 align-items: center;
  
  font-family: 'Lora';
  font-style: normal;
  font-size: 1.2vw;
  text-align: center;
  
  color: #006D77;
}

.personalInfo {
 display: flex;
 flex-flow: column;
 justify-content: center;
 align-items: start;

 width: 100%;
 height: 30vw;
}

 .personalInfo h3 {
   font-family: 'Lora';
   font-style: normal;
   font-size: 1.5vw;
   
   text-align: left;
   margin-bottom: 0.2vw;
 
   color: #006D77;
}

#formInfo {
  display: flex;
  flex-flow: column;
  align-items: center;
}





